<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <script src="node_modules/angular/angular.js"></script>
    <script src="index.js"></script>
    <meta charset="UTF-8">
    <title>eBook Recipes</title>
</head>
<body>

<div ng-controller="allRecipes as allRC">
<button ng-click="allRC.getallRecp()">All Recipes</button>
    <ul>
    <li ng-repeat="recipe in recipes">
        <p>{{recipe.name}}</p>
        {{recipe.description}}<br>

        {{recipe.ingredients}}<br>
        {{recipe.instruction}}
    </li>
    </ul>

</div>

</body>
</html>